<!DOCTYPE html>
<html>
<head>
<title>Label Disigner</title>
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
<style type="text/css">
label {
	float: left;
}

input {
	float: left;
}

.labelMeasureInput, .measureInput, .generalMeasureInput {
	width: 5em;
}

.textInput, #target {
	width: 15em;
}

.labelElement {
	position: absolute;
}

#label {
	border: 2px solid;
	height: 400px;
	width: 600px;
	margin: 5em auto;
	position: relative;
	overflow: visible;
}

#labelHome {
	left: 0px;
	top: 0px;
	position: relative;
	overflow: visible;
}

#leftHeader {
	font-size: 22px;
	left: 7px;
	top: 2px;
}

#rightHeader {
	font-size: 22px;
	left: 300px;
	top: 2px;
}

#saleUnit {
	font-size: 36px;
	left: 45px;
	top: 55px;
}

#currency {
	font-size: 52px;
	left: 45px;
	top: 110px;
}

#priceTitle {
	font-size: 22px;
	left: 385px;
	top: 40px;
}

#integerPricePart {
	font-size: 95px;
	left: 115px;
	top: 50px;
}

#decimalPricePart {
	font-size: 40px;
	left: 542px;
	top: 77px;
}

#description {
	font-size: 22px;
	left: 7px;
	top: 183px;
}

#suplyerReference {
	font-size: 22px;
	left: 7px;
	top: 210px;
}

#printDate {
	font-size: 18px;
	left: 7px;
	top: 240px;
}

#lastPriceChange {
	font-size: 18px;
	left: 7px;
	top: 260px;
}

#productId {
	font-size: 18px;
	left: 503px;
	top: 240px;
}

#productExternalId {
	font-size: 18px;
	left: 456px;
	top: 260px;
}
</style>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript">
	var ptPerMM = 2.83464567;
	var dotsPerMM = 8;
	function dots2mm(dots) {
		return dots * dotsPerMM;
	}
	function updateFields(target) {
		var text = $(target).text();
		var fontSize = parseFloat($(target).css("font-size"));
		var top = parseFloat($(target).css("top"));
		var left = parseFloat($(target).css("left"));
		$("#text").val(text);
		$("#font-size").val(fontSize);
		$("#top").val(top);
		$("#left").val(left);
	}
	function updateZPL() {
		var newLine = "\n";
		var zpl = "^XA" + newLine;
		zpl += "^LL" + $(".labelMeasureInput[property='height']").val()
				+ newLine;
		zpl += "^PW" + $(".labelMeasureInput[property='width']").val()
				+ newLine;
		zpl += "^LH" + $(".generalMeasureInput[property='left']").val() + ","
				+ $(".generalMeasureInput[property='top']").val() + newLine;
		zpl += "^MUd" + newLine;
		$(".labelElement").each(
				function() {
					zpl += "^FO" + parseFloat($(this).css("left")) + ","
							+ parseFloat($(this).css("top")) + ",^A0N,"
							+ parseFloat($(this).css("font-size"))
							+ ",^CI28^FD" + $(this).text() + "^FS" + newLine;
				});
		zpl += "^XZ" + newLine;
		$("#zplArea").val(zpl);
	}
	function init() {
		alert(dots2mm(25.4));
		$("input[type=number]").attr("step", "1");
		$(".labelMeasureInput").each(function() {
			var property = $(this).attr("property");
			var newValue = parseFloat($("#label").css(property));
			$(this).val(newValue);
			$("#labelHome").css(property, newValue + "px");
		});
		$(".generalMeasureInput").each(function() {
			var property = $(this).attr("property");
			var newValue = parseFloat($("#labelHome").css(property));
			$(this).val(newValue);
		});
		$("#target option").each(function() {
			var target = $(this).val();
			updateFields(target);
		});
		updateZPL();
	}
	$(document).ready(function() {
		init();
		$(".labelMeasureInput").change(function() {
			var property = $(this).attr("property");
			var newValue = parseFloat($(this).val()) + "px";
			$("#labelHome").css(property, newValue);
			$("#label").css(property, newValue);
			updateZPL();
		});
		$(".generalMeasureInput").change(function() {
			var property = $(this).attr("property");
			var newValue = $(this).val() + "px";
			$("#labelHome").css(property, newValue);
			updateZPL();
		});
		$(".textInput").change(function() {
			var target = $("#target").val();
			var newText = $(this).val();
			$(target).text(newText);
			updateZPL();
		});
		$(".measureInput").change(function() {
			var target = $("#target").val();
			var property = $(this).attr("id");
			var newValue = $(this).val() + "px";
			$(target).css(property, newValue);
			updateZPL();
		});
		$("#target").change(function() {
			var target = $(this).val();
			updateFields(target);
		});
	});
</script>
</head>
<body>
	<div class="container">
		<form action="#">
			<div class="row">
				<div class="col-md-6">
					<fieldset>
						<legend>Label Settings</legend>
						<div class="row">
							<div class="col-md-6">
								<label>Height:</label>
							</div>
							<div class="col-md-6">
								<input type="number" class="labelMeasureInput" property="height" />px
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<label>Width:</label>
							</div>
							<div class="col-md-6">
								<input type="number" class="labelMeasureInput" property="width" />px
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<label>Left margin:</label>
							</div>
							<div class="col-md-6">
								<input type="number" class="generalMeasureInput" property="left" />px
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<label>Top margin:</label>
							</div>
							<div class="col-md-6">
								<input type="number" class="generalMeasureInput" property="top" />px
							</div>
						</div>
					</fieldset>
					<fieldset>
						<legend>Element Settings</legend>
						<div class="row">
							<div class="col-md-6">
								<label>Element:</label>
							</div>
							<div class="col-md-6">
								<select id="target">
									<option value="#leftHeader">Left header</option>
									<option value="#rightHeader">Right header</option>
									<option value="#saleUnit">Sale unit</option>
									<option value="#currency">Currency</option>
									<option value="#priceTitle">Price title</option>
									<option value="#integerPricePart">Integer price part</option>
									<option value="#decimalPricePart">Decimal price part</option>
									<option value="#description">Description</option>
									<option value="#suplyerReference">Suplyer reference</option>
									<option value="#lastPriceChange">Last price change</option>
									<option value="#productId">Product ID</option>
									<option value="#productExternalId">Product external ID</option>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<label>Text:</label>
							</div>
							<div class="col-md-6">
								<input type="text" class="textInput" id="text" />
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<label>Font size:</label>
							</div>
							<div class="col-md-6">
								<input type="number" class="measureInput" id="font-size" />px
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<label>X:</label>
							</div>
							<div class="col-md-6">
								<input type="number" class="measureInput" id="left" />px
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<label>Y:</label>
							</div>
							<div class="col-md-6">
								<input type="number" class="measureInput" id="top" />px
							</div>
						</div>
					</fieldset>
				</div>
				<div class="row">
					<div class="col-md-6">
						<fieldset>
							<legend>ZPL</legend>
							<textarea rows="15" cols="50" readonly="readonly" id="zplArea"></textarea>
						</fieldset>
					</div>
				</div>
			</div>
		</form>
		<div class="row">
			<div id="label">
				<div id="labelHome">
					<div class="labelElement" id="leftHeader">PMVP Bs.
						1.234.567,89</div>
					<div class="labelElement" id="rightHeader">IVA 12,34% Bs.
						1.234.567,89</div>
					<div class="labelElement" id="saleUnit">pza</div>
					<div class="labelElement" id="currency">Bs.</div>
					<div class="labelElement" id="integerPricePart">1.234.567</div>
					<div class="labelElement" id="decimalPricePart">89</div>
					<div class="labelElement" id="priceTitle">Total a pagar</div>
					<div class="labelElement" id="description">Test product
						description</div>
					<div class="labelElement" id="suplyerReference">Test suplyer
						reference</div>
					<div class="labelElement" id="printDate">XV OCT</div>
					<div class="labelElement" id="lastPriceChange">31-10-2015</div>
					<div class="labelElement" id="productId">88-88-888</div>
					<div class="labelElement" id="productExternalId">1234567890123</div>
				</div>
			</div>
		</div>
		<footer>
			<p>&copy; The Assemblers' Solutions 2015</p>
		</footer>
	</div>
</body>
</html>
