button {
	float: right;
}

label, input, select {
	float: left;
}

.labelElement {
	position: absolute;
}

#label {
	border: 2px solid;
	margin: 5em auto;
	position: relative;
	overflow: visible;
}

#labelHome {
	position: relative;
	overflow: visible;
}